<!DOCTYPE html>
<html>
<head>
    <title>Zadatak 38</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <SCRIPT SRC="/js/zadatak38.js"></SCRIPT>
    <SCRIPT SRC="/js/converter.js"></SCRIPT>
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/zadatak/38">Zadatak 38</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/zadatak/42">Zadatak 42</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/zadatak/43">Zadatak 43</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModal">W to dBW converter</a>
            </li>
        </ul>
    </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">W to dbW converter</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form id="converter">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <label for="vati" class="col-form-label font-weight-bold">P</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" step="0.0001" id="vati" name="vati">
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-select-lg" name="jedinica">
                                        <option value="1" selected>W</option>
                                        <option value="1000" >mW</option>
                                        <option value="1000000">uW</option>
                                        <option value="1000000000">nW</option>
                                        <option value="1000000000000">pW</option>
                                    </select>
                            </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <label for="izracun" class="form-label font-weight-bold">P</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="izracun" name="izracun" class="form-control" readonly>
                                </div>
                            </div>

                            <div class="row mb-3 mt-3">
                                <div class="col-sm-2">
                                    <label for="dbm" class=" form-label font-weight-bold">P</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="dbm" name="dbm" class="form-control" readonly>
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="Pretvori" class="btn btn-primary" id="convert">
                            </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-dark " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container mt-4 mb-4">
    <div class="container">
        <h2 class="text-uppercase mb-5">Proracun snage i vremena porasta za svjetlovodni link</h2>
        <h3 class="mb-4">Zadatak 38</h3>
        <div class="table-responsive table-sm">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary text-white">
                <tr>
                    <th scope="col" class="text-uppercase">Oznaka</th>
                    <th scope="col" class="text-uppercase">Opis</th>
                    <th scope="col" class="text-uppercase">Mjerna jedinica</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Pod</b></td>
                    <td>snaga odasiljaca LED diode</td>
                    <td>dbW</td>
                </tr>

                <tr>
                    <td><b>dLambda</b></td>
                    <td>kvadratna srednja vrijednost sirine spektra izvora LED diode</td>
                    <td>nm/s</td>
                </tr>

                <tr>
                    <td><b>lambda</b></td>
                    <td>valna duljina</td>
                    <td>um</td>
                </tr>

                <tr>
                    <td><b>L1</b></td>
                    <td>komadi jednomodnog svjetlovoda</td>
                    <td>km</td>
                </tr>

                <tr>
                    <td><b>D</b></td>
                    <td>parametar materijalne disperzije</td>
                    <td>ps/ km * nm</td>
                </tr>

                <tr>
                    <td><b>a</b></td>
                    <td>gubici</td>
                    <td>db/km</td>
                </tr>

                <tr>
                    <td><b>ak</b></td>
                    <td>gubici konetkora</td>
                    <td>db</td>
                </tr>

                <tr>
                    <td><b>as</b></td>
                    <td>gubitak svakog fiksnog spoja</td>
                    <td>db</td>
                </tr>

                <tr>
                    <td><b>nb</b></td>
                    <td>prosjecni broj fotona po bitu prijemnika PIN fotodiode</td>
                    <td>int</td>
                </tr>

                <tr>
                    <td><b>B</b></td>
                    <td>brzina koju zelimo postici</td>
                    <td>Mb/s</td>
                </tr>

                <tr>
                    <td><b>Ms</b></td>
                    <td>margina sustava</td>
                    <td>6dB do 8dB</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="mb-3 mt-3">

            <h5>
                Odrediti koliko bi bilo ogranicenje duljine prijenosa uslijed:
            </h5>
            <ol class="mb-2 mt-2" type="A">
                <li>
                    samo gubitaka svjetlovoda <b>?</b>
                </li>
                <li>
                    samo disperzije niti <b>?</b>
                </li>
                <li>
                    svih parametara ovako sastavljenog sustava <b>?</b>
                </li>
            </ol>
        </div>

        <div>
            <h5 class="mt-2">Formule</h5>
            <div class="row mt-3 mb-5 justify-content-center">
                <div class="col-lg-4">
                    <h6 class="mt-1 mb-1">A)</h6>
                    <IMG SRC="/img/zadatak_38_a.png" alt="formula" class="img-fluid mb-3 mt-3">
                </div>
                <div class="col-lg-4">
                    <h6 class="mt-1 mb-1">B)</h6>
                    <IMG SRC="/img/zadatak_38_b.png" alt="formula" class="img-fluid mb-3 mt-3">
                </div>
                <div class="col-lg-4">
                    <h6 class="mt-1 mb-1">C)</h6>
                    <IMG SRC="/img/zadatak_38_c.png" alt="formula" class="img-fluid mb-3 mt-3">
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-6 col-md-6 ">
            <form id="zadatak-38">

                <div class="form-group row">
                    <label for="Pod" class="col-sm-2 col-form-label font-weight-bold">Pod</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control"  step="0.0001" id="Pod" name="Pod" placeholder="dbW"
                               value="-40" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="b" class="col-sm-2 col-form-label font-weight-bold">B</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="b" name="b" placeholder="Mb/s" value="150" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="delta-lambda" class="col-sm-2 col-form-label font-weight-bold">dlambda</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="delta-lambda" name="delta-lambda"
                               placeholder="nm" value="20" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lambda" class="col-sm-2 col-form-label font-weight-bold">lambda</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="lambda" name="lambda"
                               placeholder="um" required value="1.3">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="alpha" class="col-sm-2 col-form-label font-weight-bold">a</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="alpha" name="alpha" placeholder="dB/km" required value="0.25">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="alpha-s" class="col-sm-2 col-form-label font-weight-bold">as</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="alpha-s" name="alpha-s"
                               placeholder="dB" required value="0.4">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="alpha-k" class="col-sm-2 col-form-label font-weight-bold">ak</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" step="0.0001" id="alpha-k" name="alpha-k"
                               placeholder="dB" required value="0.25">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nb" class="col-sm-2 col-form-label font-weight-bold">nb</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control"  id="nb" name="nb" required value="5000">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="l1" class="col-sm-2 col-form-label font-weight-bold">L1</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="l1" name="l1" placeholder="km" required value="10">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="d" class="col-sm-2 col-form-label font-weight-bold">D</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " step="0.0001" id="d" name="d"
                               placeholder="ps / km * nm" required value="1">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ms" class="col-sm-2 col-form-label font-weight-bold">Ms</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control " id="ms" step="0.0001" name="ms" value="6"
                               placeholder="dB" required>
                    </div>
                </div>
                <div class="mt-5">
                    <input type="submit" value="Izracunaj" class="btn btn-primary" id="izracunaj-38" >
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <br><br>
            <label for="rez-od" class="form-label text-uppercase">Snaga prijemnika </label>
            <input type="text" id="rez-od" name="rez-od" class="form-control text-center" readonly>
            <br><br>
            <label for="rez-a" class="form-label text-uppercase">Ogranicenje duljine prijenosa uslijed samo gubitaka svjetlovoda </label>
            <input type="text" id="rez-a" name="rez-a" class="form-control text-center" readonly>
            <br><br>
            <label for="rez-b" class="form-label text-uppercase">ogranicenje duljine prijenosa uslijed samo disperzije niti </label>
            <input type="text" id="rez-b" name="rez-b" class="form-control text-center" readonly>
            <br><br>
            <label for="rez-c" class="form-label text-uppercase">ogranicenje duljine prijenosa uslijed ovako sastavljenog sustava</label>
            <input type="text" id="rez-c" name="rez-c" class="form-control text-center" readonly>
            <br><br>
        </div>
    </div>
</div>
</html>
